name = "book-writer"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".svelte-kit/cloudflare"

[[d1_databases]]
binding = "DB"
database_name = "book-writer-db"
database_id = "c2738db4-3954-42b2-bcac-251370e5ac36"
